<!DOCTYPE html>
<html>
    <head>
        <title>QR Code Preview</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">QR Code Preview</h1>
            {{ svg|safe }}
            <a href="/download?id={{ qr_id }}"> Download QR code </a>
        </div>
    </body>
</html>
